<ion-view id="userMessagesView" cache-view="false" view-title="{{room.name}}" ng-init="initMethods()">

    <div class="loader-center" ng-if="!doneLoading">
        <div class="loader">
          <i class="icon ion-loading-c"></i>
        </div>
    </div>

    <ion-content has-bouncing="true" class="has-header has-footer" delegate-handle="userMessageScroll" ng-click="inputClick()">

        <ion-list>
          <ion-item class="message-bubbles" ng-repeat="chat in chatMessages">

            <div class="card message-holder-left" ng-if="chat.is_agent==true">
              <div class="item item-text-wrap message-bubble-left">
                <div ng-if="chat.type=='text'">
                  <p class="nonuser-message-text">{{chat.text}}</p>
                </div>
                <div ng-if="chat.type=='simplelink'">
                  <a class="nonuser-message-simplelink" href="{{chat.text}}">{{chat.text}}</a>
                </div>
                <div ng-if="chat.type=='link'" class="message-rich">
                  <div class="card oEmbed-card">
                    <div class="item">
                      <a class="nonuser-message-simplelink" href="{{chat.text}}">{{chat.text}}</a>
                    </div>
                    <div class="item" ng-if="chat.description!==null">
                      <a href="{{chat.text}}" class="nonuser-message-text"><h4 class="nonuser-message-text">{{chat.title}}</h4></a>
                      <!-- <h4 class="nonuser-message-text">{{chat.title}}</h4> -->
                      <p class="nonuser-message-text">{{chat.description}}</p>
                    </div>
                  </div>
                </div>
                <div ng-if="chat.type=='rich'" class="message-rich">
                  <div class="card oEmbed-card">
                    <div class="item">
                      <a class="nonuser-message-simplelink" href="{{chat.text}}">{{chat.text}}</a>
                    </div>
                    <div class="item item-text-wrap">
                      <img src="{{chat.thumbnail_url}}">
                    </div>
                    <div class="item">
                      <a href="{{chat.text}}" class="nonuser-message-text"><h4 class="nonuser-message-text">{{chat.title}}</h4></a>
                      <!-- <h4 class="nonuser-message-text">{{chat.title}}</h4> -->
                      <p class="nonuser-message-text">{{chat.description}}</p>
                    </div>
                  </div>
                </div>
                <div ng-if="chat.type=='video'" class="message-rich">
                  <div class="card oEmbed-card">
                    <div class="item">
                      <a class="nonuser-message-simplelink" href="{{chat.text}}">{{chat.text}}</a>
                    </div>
                    <div class="item item-text-wrap">
                      <img src="{{chat.thumbnail_url}}">
                    </div>
                    <div class="item">
                      <a href="{{chat.text}}" class="nonuser-message-text"><h4 class="nonuser-message-text">{{chat.title}}</h4></a>
                      <!-- <h4 class="nonuser-message-text">{{chat.title}}</h4> -->
                      <p class="nonuser-message-text">{{chat.description}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="agent-name">
                <h3>{{chat.sender_uid}}</h3>
                <h4>Fast Japan</h4>
              </div> -->
            </div>

            <div class="card message-holder-right" ng-if="chat.is_agent==false">
              <div class="item item-text-wrap message-bubble-right">
                  <div ng-if="chat.type=='text'">
                    <p class="user-message-text">{{chat.text}}</p>
                  </div>
                  <div ng-if="chat.type=='simplelink'">
                    <a class="user-message-simplelink" href="{{chat.text}}">{{chat.text}}</a>
                  </div>
                  <div ng-if="chat.type=='link'" class="message-rich">
                    <div class="card oEmbed-card">
                      <div class="item">
                        <a class="user-message-simplelink" href="{{chat.text}}">{{chat.text}}</a>
                      </div>
                      <div class="item" ng-if="chat.description!==null">
                        <a href="{{chat.text}}" class="user-message-text"><h4 class="user-message-text">{{chat.title}}</h4></a>
                        <!-- <h4 class="user-message-text">{{chat.title}}</h4> -->
                        <p class="user-message-text">{{chat.description}}</p>
                      </div>
                    </div>
                  </div>
                  <div ng-if="chat.type=='rich'" class="message-rich">
                    <div class="card oEmbed-card">
                      <div class="item">
                        <a class="user-message-simplelink" href="{{chat.text}}">{{chat.text}}</a>
                      </div>
                      <div class="item item-text-wrap">
                        <img src="{{chat.thumbnail_url}}">
                      </div>
                      <div class="item">
                        <a href="{{chat.text}}" class="user-message-text"><h4 class="user-message-text">{{chat.title}}</h4></a>
                        <!-- <h4 class="user-message-text">{{chat.title}}</h4> -->
                        <p class="user-message-text">{{chat.description}}</p>
                      </div>
                    </div>
                  </div>
                  <div ng-if="chat.type=='video'" class="message-rich">
                    <div class="card oEmbed-card">
                      <div class="item">
                        <a class="user-message-simplelink" href="{{chat.text}}">{{chat.text}}</a>
                      </div>
                      <div class="item item-text-wrap">
                        <img src="{{chat.thumbnail_url}}">
                      </div>
                      <div class="item">
                        <a href="{{chat.text}}" class="user-message-text"><h4 class="user-message-text">{{chat.title}}</h4></a>
                        <!-- <h4 class="user-message-text">{{chat.title}}</h4> -->
                        <p class="user-message-text">{{chat.description}}</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

          </ion-item>
        </ion-list>
        <!-- <hr class="message-label-line"> -->

    </ion-content>

    <form>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <!-- <label class="item-input-wrapper">
                <textarea ng-model="chat.message" ng-change="isWriting(chat)" value="" placeholder="Send a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
            </label> -->
            <label class="item item-input message-input-label">
              <input class="" type="text" ng-click="inputClick()" ng-enter="inputEnter()" ng-exit="inputExit()" ng-model="chat.message" ng-change="isWriting(chat)" value="" placeholder="Send a message..." required minlength="1" maxlength="1500" msd-elastic>
            </label>
            <div class="footer-btn-wrap">
              <button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="!chat.message || chat.message === ''" ng-click="sendChat(chat)">
              </button>
            </div>
        </ion-footer-bar>
    </form>

</ion-view>
