<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{room.name}}" ng-init="initMethods()" cache-view="false">
  <ion-content class="padding has-footer" style="height:80%" overflow-scroll="true">
    <!-- <img ng-src="{{room.logo}}" style="width: 64px; height: 64px">
    <p>
      {{room.lastText}}
    </p> -->
    <div class="list" ng-repeat="chat in chats">
      <div class="item item-avatar-left" ng-if="chat.is_agent==true" style="z-index:1000 !important;">
        <img src="./img/default_profile_pic.jpg">
        <div>
          <ul>
            <li><h2>{{chat.sender_uid}}</h2></li>
            <!-- <li><span ng-bind-html='toTrustedHTML(renderMessage(chat))'></span></li> -->
            <li ng-if="chat.type=='rich'">
              <div class="list card">
                <div class="item item-avatar">
                  <img src="{{chat.thumbnail_url}}">
                  <h2>{{chat.title}}</h2>
                  <a href="{{chat.text}}">{{chat.text}}</a>
                </div>

                <div class="item item-image">
                  <img src="{{chat.thumbnail_url}}">
                </div>

                <a class="item item-icon-left assertive" href="#">
                  {{chat.author}}
                </a>

                </div>
            </li>

            <li ng-if="chat.type=='video'">
              <div class="list card">
                <div class="item item-avatar">
                  <img src="{{chat.thumbnail_url}}">
                  <h2>{{chat.title}}</h2>
                  <a href="{{chat.text}}">{{chat.text}}</a>
                </div>

                <div class="item item-image">
                  <img src="{{chat.thumbnail_url}}">
                </div>

                <a class="item item-icon-left assertive" href="#">
                  {{chat.author}}
                </a>
                </div>
            </li>

            <li ng-if="chat.type=='link'">
              <div class="list card">
                <div class="item item-avatar">
                  <h2>{{chat.title}}</h2>
                  <a href="{{chat.text}}">{{chat.text}}</a>
                </div>

                <div class="item item-image">
                </div>

                <a class="item item-icon-left assertive" href="#">
                  {{chat.description}}
                </a>

                </div>
            </li>

            <li ng-if="chat.type=='simplelink'">
              <a href="{{chat.text}}">{{chat.text}}</a>
            </li>

            <li ng-if="chat.type=='text'">
              <p>{{chat.text}}</p>
            </li>

            <!-- <li><span>{{chat.text}}</span></li> -->
            <li><p style="font-size:8px;">Time: {{chat.timestamp}}</p></li>
          </ul>
        </div>
      </div>
      <div class="item item-avatar-right" ng-if="chat.is_agent==false">
        <img src="./img/default_profile_pic.jpg">
        <div style = "float:right">
          <ul>
            <li><h2 style="float:right">{{chat.sender_uid}}</h2></li><br>
            <!-- <li style="float:right"><span ng-bind-html='toTrustedHTML(renderMessage(chat))'></span></li><br> -->

            <li style="float:right" ng-if="chat.type=='rich'">

              <div class="list card">
                <div class="item item-avatar">
                  <img src="{{chat.thumbnail_url}}">
                  <h2>{{chat.title}}</h2>
                  <a href="{{chat.text}}">{{chat.text}}</a>
                </div>

                <div class="item item-image">
                  <img src="{{chat.thumbnail_url}}">
                </div>

                <a class="item item-icon-left assertive" href="#">
                  {{chat.author}}
                </a>

                </div>

            </li>

            <li style="float:right" ng-if="chat.type=='video'">

              <div class="list card">
                <div class="item item-avatar">
                  <img src="{{chat.thumbnail_url}}">
                  <h2>{{chat.title}}</h2>
                  <a href="{{chat.text}}">{{chat.text}}</a>
                </div>

                <div class="item item-image">
                  <img src="{{chat.thumbnail_url}}">
                </div>

                <a class="item item-icon-left assertive" href="#">
                  {{chat.author}}
                </a>

                </div>

            </li><br>

            <li style="float:right" ng-if="chat.type=='link'">

              <div class="list card">
                <div class="item item-avatar">
                  <h2>{{chat.title}}</h2>
                  <a href="{{chat.text}}">{{chat.text}}</a>
                </div>

                <div class="item item-image">
                </div>

                <a class="item item-icon-left assertive" href="#">
                  {{chat.description}}
                </a>
              </div>

            </li><br>

            <li style="float:right" ng-if="chat.type=='simplelink'">
              <a href="{{chat.text}}">{{chat.text}}</a>
            </li><br>

            <li style="float:right" ng-if="chat.type=='text'">
              <p>{{chat.text}}</p>
            </li><br>

            <br>

            <!-- <li style="float:right"><span>{{chat.text}}</span></li><br> -->
            <li><p style="float:right; font-size:8px">Time: {{chat.timestamp}}</p></li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>

  <div style="position: absolute; bottom: 0px; width: 100%">
    <form>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="message" ng-model="chat.message" ng-change="isWriting(chat)">
          </label>
          <button class="button button-positive ion ion-chatbubbles" ng-click="sendChat(chat)">
          </button>
        </div>
      </div>
    </form>
  </div>
</ion-view>
