<ion-view view-title="Rooms" cache-view="false">
  <ion-content>
    <ion-list>
      <!-- <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/rooms/{{chat.id}}"> -->
      <ion-item class="item item-thumbnail-left" ng-repeat="room in rooms" type="item-text-wrap" href="#/tab/rooms/{{room.id}}" cache-view="false">
        <img ng-src="{{room.logo}}">
        <h3>{{room.name}}</h3>
        <p>{{room.lastText}}</p>
        <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->

        <ion-option-button class="button-assertive" ng-click="remove(room)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
